In [2]:
import numpy as np 
import pandas as pd

In [3]:
!conda install -y gdown

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - gdown


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.9.24  |       ha878542_0         150 KB  conda-forge
    certifi-2022.9.24          |     pyhd8ed1ab_0         155 KB  conda-forge
    conda-22.9.0               |   py37h89c1867_1         960 KB  conda-forge
    filelock-3.8.0             |     pyhd8ed1ab_0          13 KB  conda-forge
    gdown-4.5.1                |     pyhd8ed1ab_0          17 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.3 MB

The following NEW packages will be INSTALLED:

  filelock           conda-forge/noarch::filelock-3.8.0-pyhd8ed1ab_0
  gdown              conda-forge/noarch::gdown-4.5.1-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates                    2022.6.15.2-ha878542_0 --> 2022.9.24-ha878542_0
  certifi                          2022.6.15.2-pyhd8ed1ab_0 --> 2022.9.24-pyhd8ed1ab_0
  conda                               4.14.0-py37h89c1867_0 --> 22.9.0-py37h89c1867_1



Downloading and Extracting Packages
ca-certificates-2022 | 150 KB    | ##################################### | 100%
certifi-2022.9.24    | 155 KB    | ##################################### | 100%
conda-22.9.0         | 960 KB    | ##################################### | 100%
gdown-4.5.1          | 17 KB     | ##################################### | 100%
filelock-3.8.0       | 13 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Retrieving notices: ...working... done

In [4]:
!gdown --id 10DCPR2Osdtdm5_wAQpHe7avmc--2dNZE

/opt/conda/lib/python3.7/site-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=10DCPR2Osdtdm5_wAQpHe7avmc--2dNZE
To: /kaggle/working/covid_toy.csv
100%|██████████████████████████████████████| 3.30k/3.30k [00:00<00:00, 4.86MB/s]

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df = pd.read_csv('covid_toy.csv')

In [7]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [8]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2, random_state=0)

In [11]:
X_train

    age  gender  fever   cough       city
43   22  Female   99.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
3    31  Female   98.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi
45   72    Male   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
96   51  Female  101.0  Strong    Kolkata
67   65    Male   99.0    Mild  Bangalore
64   42    Male  104.0    Mild     Mumbai
47   18  Female  104.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi

[80 rows x 5 columns]

In [12]:
X_test

    age  gender  fever   cough       city
26   19  Female  100.0    Mild    Kolkata
86   25    Male  104.0    Mild  Bangalore
2    42    Male  101.0    Mild      Delhi
55   81  Female  101.0    Mild     Mumbai
75    5    Male  102.0    Mild    Kolkata
93   27    Male  100.0    Mild    Kolkata
16   69  Female  103.0    Mild    Kolkata
73   34    Male   98.0  Strong    Kolkata
54   60  Female   99.0    Mild     Mumbai
95   12  Female  104.0    Mild  Bangalore
53   83    Male   98.0    Mild      Delhi
92   82  Female  102.0  Strong    Kolkata
78   11    Male  100.0    Mild  Bangalore
13   64    Male  102.0    Mild  Bangalore
7    20  Female    NaN  Strong     Mumbai
30   15    Male  101.0    Mild      Delhi
22   71  Female   98.0  Strong    Kolkata
24   13  Female  100.0  Strong    Kolkata
33   26  Female   98.0    Mild    Kolkata
8    19  Female  100.0  Strong  Bangalore

In [13]:
y_train

43    Yes
62    Yes
3      No
71     No
45     No
     ...
96    Yes
67     No
64     No
47     No
44     No
Name: has_covid, Length: 80, dtype: object

# 1. Aam Zindagi

In [14]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [15]:
# ordinal encoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [17]:
# onehotencoding -> gender, city
ohe = OneHotEncoder(drop='first', sparse=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [20]:
# extracting age column
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [22]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough), axis=1)

X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough), axis=1)

X_train_transformed.shape

(80, 7)

# Mentos Zindagi

In [24]:
from sklearn.compose import ColumnTransformer

In [25]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first',sparse=False),['gender','city'])
], remainder='passthrough')

In [27]:
transformer.fit_transform(X_train).shape

(80, 7)

In [29]:
transformer.transform(X_test).shape

(20, 7)